extends includes/base
block globals
    - var title= 'Bienvenido de nuevo, Eistein'
    - var body_id= 'index'

block breadcrumb
    -var items = [{name : "Inicio", href : './dashboard.html'}, {name : "Dashboard", href : ''}]
    +breadcrumb(items)

block content
    .col-md-12.col-lg-8
        +card('Directorio', '#', 'pull-up')
            .table-responsive
                table.datagrid
                    thead
                        tr
                            th Order #
                            th Product
                            th Customer
                            th Status
                    tbody
                        tr
                            td 0001
                            td Product Name 1
                            td Customer 1
                            td Complete
                        tr
                            td 0002
                            td Product Name 2
                            td Customer 2
                            td Complete
                        tr
                            td 0003
                            td Product Name 3
                            td Customer 3
                            td Processing
                        tr
                            td 0004
                            td Product Name 4
                            td Customer 4
                            td Pending
    
    .col-md-12.col-lg-4
        +card('Card en blanco', '#')
        
        +card('Card en blanco', '#')
