extends includes/base
block globals
    - var title= 'Bienvenido de nuevo, Eistein'
    - var body_id= 'index'

block breadcrumb
    -var items = [{name : "Inicio", href : './dashboard.html'}, {name : "Dashboard", href : ''}]
    +breadcrumb(items)

block content
    .col-md-12
      .row
        .col-xs-12.col-sm-6.col-lg-3
                .info-box.mb-5
                    .info-box-icon.bg-primary
                        i(class="fab fa-android")
                    .info-box-content
                        .info-box-text bg-primary
                        .info-box-number 10%
        .col-xs-12.col-sm-6.col-lg-3
            .info-box.mb-5
                .info-box-icon.bg-danger
                    i(class="fas fa-camera")
                .info-box-content
                    .info-box-text bg-danger
                    .info-box-number 10%
        .col-xs-12.col-sm-6.col-lg-3
            .info-box.mb-5.bg-info
                .info-box-icon
                    i(class="fas fa-user")
                .info-box-content
                    .info-box-text bg-info (all)
                    .info-box-number 45%
        .col-xs-12.col-sm-6.col-lg-3
            .info-box.mb-5.bg-success
                .info-box-icon
                    i(class="fas fa-shopping-cart")
                .info-box-content
                    .info-box-text bg-success (all)
                    .info-box-number 90%
                    .progress
                        div(class="progress-bar" style="width: 90%")

    .col-md-12.col-lg-8
        +card('Directorio', '#', 'pull-up')
            .table-responsive
                table.datagrid
                    thead
                        tr
                            th Order #
                            th Product
                            th Customer
                            th Status
                    tbody
                        tr
                            td 0001
                            td Product Name 1
                            td Customer 1
                            td Complete
                        tr
                            td 0002
                            td Product Name 2
                            td Customer 2
                            td Complete
                        tr
                            td 0003
                            td Product Name 3
                            td Customer 3
                            td Processing
                        tr
                            td 0004
                            td Product Name 4
                            td Customer 4
                            td Pending
    
    .col-md-12.col-lg-4
        +card('Bootbox', 'http://bootboxjs.com/getting-started.html')
            p
              | Content here. 
              a.alert(href='#') Alert!

        +card('Select2', 'https://select2.org/getting-started/basic-usage')
            select(class="js-example-basic-multiple" name="states[]" multiple="multiple" style="width:100%")
                option(value="LI") Lima
                option(value="CH") Chincha
                option(value="JA") Jaen

block append scripts
    script.
        let $ = require('jquery');
        let bootbox = require("bootbox");

        $('.js-example-basic-multiple').select2();

        $(document).on("click", ".alert", function(e) {
            bootbox.alert("Hello world!", function() {
                console.log("Alert Callback");
            });
        });

        $('.example1').on('click', function () {
          console.log("se ha clickado");
            $.alert({
                title: 'Alert!',
                content: 'Simple alert!',
            });
        });

        $('.example2').on('click', function () {
          $.confirm({
              title: 'Confirm!',
              content: 'Simple confirm!',
              buttons: {
                  confirm: function () {
                      $.alert('Confirmed!');
                  },
                  cancel: function () {
                      $.alert('Canceled!');
                  },
                  somethingElse: {
                      text: 'Something else',
                      btnClass: 'btn-blue',
                      keys: ['enter', 'shift'],
                      action: function(){
                          $.alert('Something else?');
                      }
                  }
              }
          });
        });