extends includes/base
block globals
    - var title= 'Formularios'
    - var body_id= 'page'

block mainmenu
    +mainmenu('Formularios','')

block breadcrumb
    -var items = [{name : "Inicio", href : './dashboard.html'}, {name : "Formularios", href : ''}]
    +breadcrumb(items)

block content
    .col-sm-12
        +card('Agregar papeleta', '', '')
            form
                .row
                    .col-sm-12.form-group
                        label(for="lg") Large
                        input#lg.form-control.form-control-lg(placeholder=".form-control-lg")
                    
                    .col-sm-12.form-group
                        label(for="default") Default
                        input#default.form-control(placeholder="Default input size")

                    .col-sm-12.form-group
                        label(for="sm") Small
                        input#sm.form-control.form-control-sm(placeholder=".form-control-sm")

                button.btn.btn-primary(type="submit") Enviar
                button.btn.btn-light(type="submit") Cancelar
