extends includes/base
block globals
    - var title= 'Formularios'
    - var body_id= 'page'

block mainmenu
    +mainmenu('Formularios','')

block breadcrumb
    -var items = [{name : "Inicio", href : './dashboard.html'}, {name : "Formularios", href : ''}]
    +breadcrumb(items)

block content
    .col-sm-6
        +card('Tipos de inputs', '', '')
            form
                .row
                    .col-sm-12.form-group.mb-3
                        label(for="lg") Large
                        input#lg.form-control.form-control-lg(placeholder=".form-control-lg")
                    
                    .col-sm-12.form-group.mb-3
                        label(for="default") Default
                        input#default.form-control(placeholder="Default input size")

                    .col-sm-12.form-group.mb-3
                        label(for="sm") Small
                        input#sm.form-control.form-control-sm(placeholder=".form-control-sm")
                    
                   
    .col-sm-6            
        +card('Datepicker', 'https://flatpickr.js.org/examples/', 'card-success')
            form
                .row
                    .col-sm-6.form-group.input-group.mb-3
                        .input-group-prepend
                            span(class="input-group-text", id="basic-addon1")
                                i(class="far fa-calendar-alt")
                        input.form-control.datepicker(placeholder="Seleccione fecha")

                    .col-sm-6.form-group.input-group.mb-3
                        .input-group-prepend
                            span(class="input-group-text", id="basic-addon1")
                                i(class="far fa-clock")
                        input.form-control.timepicker(placeholder="Seleccione hora")
                    
                    .col-sm-6.form-group.input-group.mb-3
                        .input-group-prepend
                            span(class="input-group-text", id="basic-addon1")
                                i(class="fas fa-phone")
                        input.form-control.celMask
        
    .col-sm-12
        +card('Formulario', 'form', 'card-info', true)
            form
                .row
                    .col-sm-12.form-group.input-group.mb-3
                        .input-group-prepend
                             label(class="input-group-text", for="inputGroupSelect01") Options
                        select#inputGroupSelect01.custom-select
                            option(selected='') Choose...
                            option(value='1') One
                            option(value='2') Two
                            option(value='3') Three
    .col-sm-12
        +card('Floating Labels', 'floating', 'card-danger', true)
            form
                .row
                    .col-sm-6.mb-3
                        .form-group.form-label-group
                            input(type="email", class="form-control", id="exampleInputEmail1")
                            label(for="exampleInputEmail1") Email address
                    .col-sm-6.mb-3
                        .form-group.form-label-group
                            input(type="text", class="form-control", id="inputText", required)
                            label(for="inputText") Name
                    .col-sm-6.mb-3
                        .form-group.form-label-group
                            input(type="text", class="form-control", id="phoneNumber")
                            label(for="phoneNumber") Phone Number
                    .col-sm-6.mb-3
                        .form-group.form-label-group
                            input(type="text", class="form-control", id="withIcon")
                            label(for="withIcon") 
                                i.far.fa-calendar
                                |  Label con icono
                        
                         

block append scripts
    script.

      let $ = require('jquery');
      let inputmask = require('inputmask');
      let flatpickr = require("flatpickr");

      $('.datepicker').flatpickr();
      $('.timepicker').flatpickr(
            {
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i",
            time_24hr: true
            }
        );
    
      $(".celMask").inputmask({"mask": "(999) 999-9999"}); 
      $("#phoneNumber").inputmask({"mask": "(999) 999-9999"}); 
    