extends includes/base
block globals
    - var title= 'Modales'
    - var body_id= 'page'

block mainmenu
    +mainmenu('Contenido','Modales')

block breadcrumb
    -var items = [{name : "Inicio", href : './dashboard.html'}, {name : "Modales", href : ''}]
    +breadcrumb(items)

block content
    .col-sm-12
        +card('Modal por defecto', '', '')
            pre
                code
                    = '<!-- Button trigger modal -->'
                    |
                    |
                    = '<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">'
                    |
                    |
                    = 'Launch demo modal'
                    |
                    |
                    = '</button>'
                    |
                    |
                    |
                    = '<!-- Modal -->'
                    |
                    |
                    = '<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">'
                    |
                    |
                    = '<div class="modal-dialog" role="document">'
                    |
                    |
                    = '<div class="modal-content">'
                    |
                    |
                    = '<div class="modal-header">'
                    |
                    |
                    = '<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>'
                    |
                    |
                    = '<button type="button" class="close" data-dismiss="modal" aria-label="Close">'
                    |
                    |
                    = '<span aria-hidden="true">&times;</span>'
                    |
                    |
                    = '</button>'
                    |
                    |
                    = '</div>'
                    |
                    |
                    = '<div class="modal-body">'
                    |
                    |
                    = '...'
                    |
                    |
                    = '</div>'
                    |
                    |
                    = '<div class="modal-footer">'
                    |
                    |
                    = '<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>'
                    |
                    |
                    = '<button type="button" class="btn btn-primary">Save changes</button>'
                    |
                    |
                    = '</div>'
                    |
                    |
                    = '</div>'
                    |
                    |
                    = '</div>'
                    |
                    |
                    = '</div>'

            // Button trigger modal
            button.btn.btn-primary(type="button" data-toggle="modal" data-target="#exampleModal")
                | Launch demo modal
            // Modal
            #exampleModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
                .modal-dialog(role="document")
                    .modal-content.modal-lg
                        .modal-header
                            h5#exampleModalLabel.modal-title Modal title
                            button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") ×
                        .modal-body
                            form
                                fieldset
                                    legend Esta es la leyenda
                                    .row
                                        .form-group.input-field.col-lg-6
                                            input.form-control(type="text")
                                            label Buscar por SNIP
                                        .form-group.input-group.col-lg-6
                                            select#inputGroupSelect04.custom-select
                                                option(selected="") Choose...
                                                option(value="1") One
                                                option(value="2") Two
                                                option(value="3") Three
                                            label Buscar por descripción de SNIP
                                            .input-group-append
                                                button.btn.btn-light(type="button") Buscar
                                        .form-group.input-field.col-lg-3
                                            input.form-control(type="date")
                                            label Fecha de entrega
                        .modal-footer
                            button.btn.btn-secondary(type="button" data-dismiss="modal") Close
                            button.btn.btn-primary(type="button") Save changes

        +card('Modal centrado verticalmente', '', '')
            pre
                code
                    = '<!-- Button trigger modal -->'
                    |
                    |
                    = '<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">'
                    |
                    |
                    = 'Launch demo modal'
                    |
                    |
                    = '</button>'
                    |
                    |
                    |
                    = '<!-- Modal -->'
                    |
                    |
                    = '<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterLabel" aria-hidden="true">'
                    |
                    |
                    = '<div class="modal-dialog" role="document">'
                    |
                    |
                    = '<div class="modal-content">'
                    |
                    |
                    = '<div class="modal-header">'
                    |
                    |
                    = '<h5 class="modal-title" id="exampleModalCenterLabel">Modal title</h5>'
                    |
                    |
                    = '<button type="button" class="close" data-dismiss="modal" aria-label="Close">'
                    |
                    |
                    = '<span aria-hidden="true">&times;</span>'
                    |
                    |
                    = '</button>'
                    |
                    |
                    = '</div>'
                    |
                    |
                    = '<div class="modal-body">'
                    |
                    |
                    = '...'
                    |
                    |
                    = '</div>'
                    |
                    |
                    = '<div class="modal-footer">'
                    |
                    |
                    = '<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>'
                    |
                    |
                    = '<button type="button" class="btn btn-primary">Save changes</button>'
                    |
                    |
                    = '</div>'
                    |
                    |
                    = '</div>'
                    |
                    |
                    = '</div>'
                    |
                    |
                    = '</div>'

            // Button trigger modal
            button.btn.btn-primary(type="button" data-toggle="modal" data-target="#exampleModalCenter")
                | Launch demo modal
            // Modal
            #exampleModalCenter.modal.fade(tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterLabel" aria-hidden="true")
                .modal-dialog.modal-dialog-centered(role="document")
                    .modal-content
                        .modal-header
                            h5#exampleModalCenterLabel.modal-title Modal title
                            button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") ×
                        .modal-body
                            | ...
                        .modal-footer
                            button.btn.btn-secondary(type="button" data-dismiss="modal") Close
                            button.btn.btn-primary(type="button") Save changes