// Fuentes
@mixin text-render() {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}

@mixin font-family($font: 'montserrat', $variation: 'regular') {
    font-family: $font + $variation, sans-serif;
    @include text-render();
}

@mixin font-size($sizeValue: 16, $line-height: ($sizeValue * 1.618)) {
    font-size: ($sizeValue) + px;
    line-height: ($line-height) + px;
    font-size: ($sizeValue * 0.1) + rem;
    line-height: ($line-height * 0.1) + rem;
}

@mixin img-replace( $width: 100, $height: 100) {
    display: block;
    width: ($width) + px;
    height: ($height) + px;
    background-repeat: no-repeat;
    span {
        position: relative;
        display: block;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        margin: 0;
        padding: 0;
        height: 0;
    }
}

@mixin card-variant($color) {
    border-top: 3px solid $color;
    
    .card-header {
        .dropdown .btn-link {
            color: $color;
          }
    } 
}

@mixin modal-variant($color) {
    .modal-header {
        border-top: 3px solid $color;
        
        .close{
            color: $color;
        }
    } 
}
