// Fuentes
@mixin text-render() {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}

@mixin font-family($font: 'montserrat', $variation: 'regular') {
    font-family: $font + $variation, sans-serif;
    @include text-render();
}

@mixin font-size($sizeValue: 16, $line-height: ($sizeValue * 1.618)) {
    font-size: ($sizeValue) + px;
    line-height: ($line-height) + px;
    font-size: ($sizeValue * 0.1) + rem;
    line-height: ($line-height * 0.1) + rem;
}

@mixin img-replace( $width: 100, $height: 100) {
    display: block;
    width: ($width) + px;
    height: ($height) + px;
    background-repeat: no-repeat;
    span {
        position: relative;
        display: block;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        margin: 0;
        padding: 0;
        height: 0;
    }
}

@mixin card-variant($color) {
    border-top: 3px solid $color;
    
    .card-header {
        .dropdown .btn-link {
            color: $color;
          }
    } 
}

@mixin modal-variant($color) {
    .modal-header {
        border-top: 3px solid $color;
        
        .close{
            color: $color;
        }
    } 
}

@mixin info-box-variant($color) {
    .info-box-icon {
        background-color: $color;
        color: color-yiq($color);
    }

    &.info-box-bg {
        background-color: $color;
        color: color-yiq($color);

        .info-box-icon {
            background-color: rgba(0, 0, 0, 0.2);
        }

        .info-box-content {
            .progress {
                margin: 5px 0px;
                height: 0.2rem;
                background-color: rgba(0, 0, 0, 0.2);
                
                .progress-bar {
                    background-color: color-yiq($color);
                }
            }
        }
    }
}

@mixin bg-variant($color) {
    color: color-yiq($color);

    &.info-box {
        .progress {
            background-color: rgba(0, 0, 0, 0.2);
            
            .progress-bar {
                background-color: color-yiq($color);
            }
        }
    }
}

@mixin callout-variant($color) {
    border-left: 5px solid $color;
}

@mixin alert-variant($color) {
    border-color: $color;
    background-color: $color;
    color: color-yiq($color);
}