body {
    .header {
        @extend .d-flex;
        @extend .flex-row;
        @extend .flex-wrap;
        @extend .align-items-center;

        position: fixed;
        left: 0;
        right: 0;
        transition: all 0.3s;
        height: 5rem;
        z-index: 20;
        background-color: $primary;

        .navbar-header {
            width: 22.5rem;
            height: 5rem;
            background-color: $white;
            transition: all 0.3s;

            #brand {
                margin: auto;
                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 5rem;
                    .brand-xs, .brand-sm{
                        position: absolute;
                    }
                }
            }
        }

        .sidebartoggler {
            margin-left: 1.3rem;
            color: $white;
            opacity: 0.75;
            &:hover {
                color: $white;
                opacity: 1;
            }
        }

        ul {
            margin-right: 3rem;

            li {
                position: relative;
                a {
                    &.nav-link {
                        color: $white;
                    }
                    &.dropdown-toggle {
                      display: flex;
                      flex-direction: row;
                      align-items: center;

                      picture {
                        padding-right: 0.5rem;

                          img {
                              @extend .rounded-circle;
                          }
                      }
                    }
                }

                .dropdown-menu {
                    left: auto;
                    right: 0;
                    @include font-size(12);
                    .dropdown-item {
                        &.active {
                            color: $black-200;
                            background-color: $yellow-200;
                        }
                    }
                }
            }
        }
    }

    #sidebar {
        position: fixed;
        top: 5rem;
        bottom: 0;
        left: 0;
        z-index: 10;
        width: 22.6rem;
        transition: all 0.3s;
        height: calc(100vh - 5rem);

        .user-profile {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: start;
          position: relative;
          height: 7rem;
          margin-bottom: 2rem;

          .profile-img {
              width: 4.8rem;
              height: 4.8rem;
              border-radius: 100%;
              margin: 0 0.55rem;

              picture {
                display: block;
                width: 100%;
                height: 100%;
                
                img {
                    width: 100%;
                    border: 1px solid rgba($black-200, 0.15);
                    border-radius: 100%;
                }
  
                .svg-inline--fa{
                  @include font-size(48,48);
                }
              }
              
          }

          .profile-menu {
              display: none;
              position: relative;

              h5 {
                  @include font-size(14);
                  @include font-family('ubuntu', 'medium');

                  margin-bottom: 0;
              }
          }
        }
        ul.nav {
            li {
                a {
                    text-align: left;
                    span {
                        @include font-family('ubuntu', 'medium');

                        margin-left: .5rem;
                        display: none;
                    }
                }
                ul.collapse,
                ul.collapsing {
                    li {
                        a {
                            text-align: left;
                            @include font-size(12);
                        }
                    }
                }
            }
        }
    }
    &.sidebar-expand {
        &.theme-default{
            .header {         
                .navbar-header {
                    @include media-breakpoint-only(xs) {
                        width: 6rem;
                        #brand {
                            // @include img-replace(40, 40);
                            // background-image: url('../images/agronet__logo--color--xs.png');
                            .brand-xs{
                                display: block;
                                @include invisible(visible);
                                opacity: 1;
                                z-index: 1;
                            }
                            .brand-sm{
                                display: none;
                                @include invisible(hidden);
                                opacity: 0;
                                height: 0;
                                width: 0;
                                z-index: -1;
                            }
                        }
                    }
                    @include media-breakpoint-up(sm) {
                        width: 22.5rem;
                        #brand {
                            .brand-xs{
                                display: none;
                                @include invisible(hidden);
                                opacity: 0;
                                height: 0;
                                width: 0;
                                z-index: -1;
                            }
                            .brand-sm{
                                display: block;
                                @include invisible(visible);
                                opacity: 1;
                                z-index: 1;
                            }
                            // @include img-replace(135, 40);
                            // background-image: url('../images/agronet__logo--color--sm--horizontal.png');
                            background-position: center;
                            margin: auto;
                            
                        }
                    }
                }
            }
        }

        #content {
            @include media-breakpoint-only(xs) {
                margin-left: 6rem;
                width: calc(100% - 6rem);
            }
            @include media-breakpoint-up(sm) {
                margin-left: 22.5rem;
                width: calc(100% - 22.5rem);
            }
        }
        #sidebar {
            @include media-breakpoint-only(xs) {
                min-width: 6rem;
                max-width: 6rem;
                margin-left: 0;
                overflow: visible;

                ul.nav {
                    li {
                        position: relative;

                        a {
                            text-align: center;
                            span {
                                display: none !important;
                            }
                        }
                        .show,
                        .collapsing {
                            position: absolute;
                            top: 0;
                            left: 6rem;
                            background-color: $gray-100;
                        }
                    }
                }
            }
            @include media-breakpoint-up(sm) {
                min-width: 22.6rem;
                max-width: 22.6rem;
                margin-left: 0;
                overflow: auto;

                .user-profile {
                  margin: 0 2rem;

                    .profile-img {
                        width: 4.8rem;
                        margin-right: 1rem;
                    }
                    .profile-menu {
                        display: block;
                    }
                }
                ul.nav {
                    li {
                        >a {
                            padding-left: 2rem;
                            padding-right: 2rem;
                        }
                        a {
                            &[data-toggle="collapse"] {
                                position: relative;
                            }
                            &[aria-expanded="false"],
                            &[aria-expanded="true"] {
                                &::after {
                                  @include font-size(14);
                                    position: absolute;
                                    top: 1.8rem;
                                    right: 2rem;
                                    line-height: inherit !important;
                                    transition: transform .3s ease;
                                }
                            }
                            &[aria-expanded="true"] {
                                &::after {
                                    transform: rotate(180deg);
                                }
                            }
                            span {
                                display: inline-block;
                            }
                        }
                        .show,
                        .collapsing {
                            li {
                                a {
                                    text-indent: 2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.sidebar-collapse {
        &.theme-purple, &.theme-default{
            .header {
                height: 5rem;
                .navbar-header {
                    @include media-breakpoint-up(xs) {
                        width: 6rem;
                        #brand {
                            .brand-xs{
                                display: block;
                            }
                            .brand-sm{
                                display: none;
                            }
                            // @include img-replace(40, 40);
                            // background-image: url('../images/agronet__logo--color--xs.png');
                        }
                    }
                }
            }
        }
        &.theme-purple, &.theme-default{
            .header {
                height: 5rem;
                .navbar-header {
                    @include media-breakpoint-up(xs) {
                        width: 6rem;
                        #brand {
                            .brand-xs{
                                display: block;
                            }
                            .brand-sm{
                                display: none;
                            }
                            // @include img-replace(40, 40);
                            // background-image: url('../images/peruanisima__logo--color--xs.png');
                        }
                    }
                }
            }
        }
        
        #content {
            @include media-breakpoint-only(xs) {
                margin-left: 0;
                width: 100%;
            }
            @include media-breakpoint-up(sm) {
                margin-left: 6rem;
                width: calc(100% - 6rem);
            }
        }

        #sidebar {
            @include media-breakpoint-only(xs) {
                min-width: 6rem;
                max-width: 6rem;
                margin-left: -6rem;
                overflow: hidden;
            }

            @include media-breakpoint-up(xs) {
                ul.nav {
                    li {
                        a {
                            text-align: center;
                        }
                    }
                }
            }
            
            @include media-breakpoint-up(sm) {
                min-width: 6rem;
                max-width: 6rem;
                margin-left: 0;
                overflow: visible;
                
                ul.nav {
                    li {
                        position: relative;
                        .show,
                        .collapsing {
                            position: absolute;
                            top: 0;
                            left: 6rem;
                            background-color: $gray-100;
                        }
                    }
                }
            }
        }
    }
}

nav{
    &.nav-actions{
        @extend .nav;
        a{
            @extend .nav-link;
            padding: 0 .75rem;
            color: $black-100 !important;
            &:hover{
                color: $black-200 !important;
            }
            &.danger{
                color: $danger !important;
                &:hover{
                    color: darken($danger, 15%) !important;
                }
            }
        }
    }
}