body {
    .header {
        @extend .d-flex;
        @extend .flex-row;
        @extend .flex-wrap;
        @extend .align-items-center;
        
        position: fixed;
        left: 0;
        right: 0;
        height: 5rem;
        z-index: $zindex-fixed;
        background-color: $primary;
        padding: 0;        
        
        .navbar-header {
            width: 22.5rem;
            height: 5rem;
            background-color: $white;
            transition: all 0.3s ease;

            nav {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .sidebartoggler  {
                    padding-left:3rem;
                }

                .navbarMobileToggler {
                    padding-right:3rem;
                }

                .brand {
                    padding: 0;
                    margin: 0 auto 0 0;
                    
                    @include media-breakpoint-up(sm) {
                        margin: 0 auto;
                    }
                }

                h1 {
                    margin-bottom: 0;
                    line-height: 5rem;
                }
            }

            #brand {
                margin: auto;

                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 5rem;
                    .brand-xs, .brand-sm{
                        position: absolute;
                    }
                }
            }
        }

        #navbar-mobile {
            form {
                padding: 1rem 3rem;
            }

            .nav {
                padding-top: 0.5rem;
            }

            &.show, 
            &.collapsing {
                background-color: $white;
            }
        }

        ul {
            position: fixed;
            right: 0;
            margin-right: 5rem;
            display: flex;
            flex-direction: row;
            align-items: center;

            @include media-breakpoint-up(sm) {
                position: relative;
                margin-right: 3rem;
            }

            li {
                position: relative;
                a {
                    &.nav-link {
                        color: $white;

                        @include media-breakpoint-up(sm) {
                            color: $primary;
                        }
                    }

                    &.dropdown-toggle {
                      display: flex;
                      flex-direction: row;
                      align-items: center;

                      picture {
                        padding-right: 0.5rem;

                          img {
                              @extend .rounded-circle;
                          }
                      }
                    }
                }

                .dropdown-menu {
                    left: auto;
                    right: 0;
                    @include font-size(12);
                }
            }
        }
    }

    #sidebar {
        position: fixed;
        top: 5rem;
        bottom: 0;
        left: 0;
        z-index: $zindex-fixed;
        width: 22.5rem;
        transition: all 0.3s ease;
        height: calc(100vh - 5rem);

        .user-profile {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: start;
          position: relative;
          height: 7rem;
          margin-bottom: 2rem;

          .profile-img {
              width: 4.8rem;
              height: 4.8rem;
              border-radius: 100%;
              margin: 0 0.55rem;

              picture {
                display: block;
                width: 100%;
                height: 100%;
                
                img {
                    width: 100%;
                    border: 1px solid rgba($black-200, 0.15);
                    border-radius: 100%;
                }
  
                .svg-inline--fa{
                  @include font-size(48,48);
                }
              }
              
          }

          .profile-menu {
              display: none;
              position: relative;

              h5 {
                  @include font-size(14);
                  @include font-family('ubuntu', 'medium');

                  margin-bottom: 0;
              }
          }
        }

        ul.nav {
            li {
                a {
                    span {
                        @include font-family('ubuntu', 'medium');

                        margin-left: .5rem;
                    }
                }
                ul.collapse,
                ul.collapsing {
                    li {
                        a {
                            @include font-size(12);
                        }
                    }
                }
            }
        }
    }

    &.sidebar-expand {
        &.theme-default{
            .header {         
                .navbar-header {
                    @include media-breakpoint-only(xs) {
                        width: 100%;
                    }

                    @include media-breakpoint-up(sm) {
                        width: 100%;
                    }

                    @include media-breakpoint-up(md) {
                        width: 22.5rem;
                    }
                }
            }
        }
        @include media-breakpoint-up(md) {
            #content {
                margin-left: 22.5rem;
                width: calc(100% - 22.5rem);
            }
        }

        #sidebar {
            width: 22.5rem;
            margin-left: 0;

                .user-profile {
                  margin: 0 2rem;

                    .profile-img {
                        width: 4.8rem;
                        margin-right: 1rem;
                    }

                    .profile-menu {
                        display: block;
                    }
                }

                ul.nav {
                    li {
                        >a {
                            padding-left: 2rem;
                            padding-right: 2rem;
                        }
                        a {
                            &[data-toggle="collapse"] {
                                position: relative;
                            }
                            &[aria-expanded="false"],
                            &[aria-expanded="true"] {
                                &::after {
                                  @include font-size(14);
                                    position: absolute;
                                    top: 1.8rem;
                                    right: 2rem;
                                    line-height: inherit !important;
                                    transition: transform 0.3s ease;
                                }
                            }
                            &[aria-expanded="true"] {
                                &::after {
                                    transform: rotate(180deg);
                                }
                            }
                            span {
                                display: inline-block;
                            }
                        }
                        .show,
                        .collapsing {
                            li {
                                a {
                                    text-indent: 2rem;
                                }
                            }
                        }
                    }
                }
        }
    }

    &.sidebar-collapse {
        &.theme-purple, &.theme-default{
            .header {
                height: 5rem;

                .navbar-header {
                    @include media-breakpoint-up(xs) {
                        width: 100%;

                        nav {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }
                        
                    }

                    @include media-breakpoint-up(sm) {
                        min-width: 6rem;
                        max-width: 6rem;
                    }
                }
            }
        }

        &.theme-purple, &.theme-default{
            .header {
                height: 5rem;

                .navbar-header {
                    @include media-breakpoint-up(xs) {
                        width: 100%;
                        
                        #brand {
                            .brand-xs{
                                display: block;
                            }

                            .brand-sm{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        
        #content {
            @include media-breakpoint-only(xs) {
                margin-left: 0;
                width: 100%;
            }
            @include media-breakpoint-up(sm) {
                margin-left: 6rem;
                width: calc(100% - 6rem);
            }
        }

        #sidebar {
            @include media-breakpoint-only(xs) {
                width: 6rem;
                margin-left: -6rem;

                a.dropdown-toggle::after {
                    display: none;
                }
            }

            @include media-breakpoint-up(xs) {
                a {
                    text-align: center;
                }

                .dropdown-toggle::after {
                    display: none;
                }

                &:hover {
                    a {
                        text-align: left;
                    }

                    .dropdown-toggle::after {
                        display: inline-block;
                    }

                    width: 22.5rem;
                    margin-left: 0;

                    .user-profile {
                        margin: 0 2rem;

                        .profile-img {
                            width: 4.8rem;
                            margin-right: 1rem;
                        }
                        
                        .profile-menu {
                            display: block;
                        }
                    }
                    
                    ul.nav {
                        li {
                            > a {
                                padding-left: 2rem;
                                padding-right: 2rem;
                            }
                            a {
                                &[data-toggle="collapse"] {
                                    position: relative;
                                }

                                &[aria-expanded="false"],
                                &[aria-expanded="true"] {
                                    &::after {
                                    @include font-size(14);
                                        position: absolute;
                                        top: 1.8rem;
                                        right: 2rem;
                                        line-height: inherit !important;
                                        transition: transform 0.3s ease;
                                    }
                                }

                                &[aria-expanded="true"] {
                                    &::after {
                                        transform: rotate(180deg);
                                    }
                                }

                                span {
                                    display: inline-block;
                                }
                            }
                            .show,
                            .collapsing {
                                li {
                                    a {
                                        text-indent: 2rem;
                                    }
                                }
                            }
                        }
                    }
                }

                ul.nav {
                    li {
                        a {
                            span {
                                display: none;
                            }
                        }
                    }
                }
            }
            
            @include media-breakpoint-up(sm) {
                width: 6rem;
                margin-left: 0;
                
                ul.nav {
                    li {
                        .show,
                        .collapsing {
                            text-align: center;
                        }
                    }
                }

                &:hover {
                    ul.nav {
                        li {
                            .show,
                            .collapsing {
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }
}

nav{
    &.nav-actions{
        @extend .nav;
        a{
            @extend .nav-link;
            padding: 0 .75rem;
            color: $black-100 !important;
            &:hover{
                color: $black-200 !important;
            }
            &.danger{
                color: $danger !important;
                &:hover{
                    color: darken($danger, 15%) !important;
                }
            }
        }
    }
}
